@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

body {
    background-color:lightblue;
    margin: 0;
    font-family: Roboto, sans-serif;
    color:red;
}

.title {
    text-align: center;
    font-weight: normal;
}

/*----------game info-----------*/
.container-game-info {
 
    text-align: center;  
    margin-bottom: 5px;
    font-size: 125%;

}

/*------Card Styling-*/
.card {
    margin: 0px;
    margin-bottom: 10px;
}

.card img {   
    margin:2px;
    height: 11rem;
    width: 20rem;
    padding-left: 0px;
    padding-right: 0px;

}
.container-card-info{
    padding: 0px;
    border: 0px; 
}

/*------Footer*/
.footer-text {
    text-align: center;
    color:red;
    bottom: 0px;
}


